@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rocksalt/v11/MwQ0bhv11fWD6QsAVOZrt0M6p7NGrQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  @apply font-sans text-lg;
}

nav h1 {
  @apply text-3xl font-semibold;
}

header h1 {
  @apply font-bold leading-normal sm:text-4xl lg:text-5xl;
}

h1 {
  @apply pb-5 text-4xl font-bold pt-7;
}

h2 {
  @apply pt-3 pb-2 text-2xl font-semibold;
}

p {
  @apply pb-2;
}

em {
  @apply px-2 py-1 not-italic font-semibold bg-yellow-100;
}

main strong {
  @apply px-2 py-1 font-bold bg-yellow-400;
}

.highlight-neg {
  @apply px-2 py-1 font-bold bg-red-200;
}
